{%- from "moj/components/interruption-card/macro.njk" import interruptionCard -%}

{% call interruptionCard({
    heading: "Case locked because someone has it open in CMS Classic",
    primaryAction: {
        text: "Return to the case",
        href: ("/cases/" + _case.id)
    }
}) -%}

    <p>Oliver Del-Staff is currently accessing this case.</p>
    <p>You cannot start a case review until they exit the case.</p>
    <p>Contact Oliver Del-Staff and ask them to stop editing before you continue.</p>
{%- endcall %}
